In [362]:
import numpy as np 
import pandas as pd

In [363]:
matches = pd.read_csv(r"Uefa Euro Cup All Matches.csv")
cups=pd.read_csv(r"Uefa Euro Cup General Statistics.csv")

In [364]:
matches

,Date,Time,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,Year
0,6 July 1960 (1960-07-06),20:00,France,Yugoslavia,4,5,Semi-finals,NaN,Parc des Princes,Paris,26370,1960
1,6 July 1960 (1960-07-06),21:30,Czechoslovakia,Soviet Union,0,3,Semi-finals,NaN,Stade Vélodrome,Marseille,25184,1960
2,9 July 1960 (1960-07-09),21:30,Czechoslovakia,France,2,0,Third place play-off,NaN,Stade Vélodrome,Marseille,9438,1960
3,10 July 1960 (1960-07-10),21:30,Soviet Union,Yugoslavia,2,1,Final,Soviet Union win after extra time,Parc des Princes,Paris,17966,1960
4,17 June 1964 (1964-06-17),20:00,Spain,Hungary,2,1,Semi-finals,Spain win after extra time,Santiago Bernabéu,Madrid,34713,1964
...,...,...,...,...,...,...,...,...,...,...,...,...
281,2 July 2016 (2016-07-02),21:00,Germany,Italy,1,1,Quarter-finals,Germany win on Penalities 6–5,Nouveau Stade de Bordeaux,Bordeaux,38764,2016
282,3 July 2016 (2016-07-03),21:00,France,Iceland,5,2,Quarter-finals,NaN,Stade de France,Saint-Denis,76833,2016
283,6 July 2016 (2016-07-06),21:00,Portugal,Wales,2,0,Semi-finals,NaN,Parc Olympique Lyonnais,Décines-Charpieu,55679,2016
284,7 July 2016 (2016-07-07),21:00,Germany,France,0,2,Semi-finals,NaN,Stade Vélodrome,Marseille,64078,2016
285,10 July 2016 (2016-07-10),21:00,Portugal,France,1,0,Final,Portugal win after extra time,Stade de France,Saint-Denis,75868,2016

In [365]:
cups

,Year,Host,Champion,Winning coach,Top scorer(s),Player of the Tournament
0,1960,France,Soviet Union,Gavriil Kachalin,François Heutte (2) Valentin Ivanov (2) Vi...,NaN
1,1964,Spain,Spain,José Villalonga,Ferenc Bene (2) Dezső Novák (2) Jesús Marí...,NaN
2,1968,Italy,Italy,Ferruccio Valcareggi,Dragan Džajić (2),NaN
3,1972,Belgium,West Germany,Helmut Schön,Gerd Müller (4),NaN
4,1976,Yugoslavia,Czechoslovakia,Václav Ježek,Dieter Müller (4),NaN
5,1980,Italy,West Germany,Jupp Derwall,Klaus Allofs (3),NaN
6,1984,France,France,Michel Hidalgo,Michel Platini (9),NaN
7,1988,West Germany,Netherlands,Rinus Michels,Marco van Basten (5),NaN
8,1992,Sweden,Denmark,Richard Møller Nielsen,Henrik Larsen (3) Karl-Heinz Riedle (3) De...,NaN
9,1996,England,Germany,Berti Vogts,Alan Shearer (5),Matthias Sammer
10,2000,Belgium Netherlands,France,Roger Lemerre,Patrick Kluivert (5) Savo Milošević (5),Zinedine Zidane
11,2004,Portugal,Greece,Otto Rehhagel,Milan Baroš (5),Theodoros Zagorakis
12,2008,Austria Switzerland,Spain,Luis Aragonés,David Villa (4),Xavi
13,2012,Poland Ukraine,Spain,Vicente del Bosque,Mario Mandžukić (3) Mario Gómez (3) Mario ...,Andrés Iniesta
14,2016,France,Portugal,Fernando Santos,Antoine Griezmann (6),Antoine Griezmann

In [366]:
matches['HomeTeamName'] = matches['HomeTeamName'].apply(lambda x : x.replace(u'\xa0', u'')).apply(lambda x : x.strip())
matches['AwayTeamName'] = matches['AwayTeamName'].apply(lambda x : x.replace(u'\xa0', u'')).apply(lambda x : x.strip())

In [367]:
matches.replace('Soviet Union','Russia',inplace=True)
matches.replace('West Germany','Germany',inplace=True)
matches['SpecialWinConditions'] = matches.SpecialWinConditions.replace({'Soviet Union':'Russia'}, regex=True)
matches['SpecialWinConditions'] = matches.SpecialWinConditions.replace({'West Germany':'Germany'}, regex=True)
cups.replace('Soviet Union','Russia',inplace=True)
cups.replace('West Germany','Germany',inplace=True)
cups.replace('Belgium  Netherlands','Netherlands',inplace=True)
cups.replace('Austria  Switzerland','Switzerland',inplace=True)
cups.replace('Poland  Ukraine','Ukraine',inplace=True)

In [368]:
matches.to_csv(r'Matches.csv')

In [369]:
matches

,Date,Time,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,Year
0,6 July 1960 (1960-07-06),20:00,France,Yugoslavia,4,5,Semi-finals,NaN,Parc des Princes,Paris,26370,1960
1,6 July 1960 (1960-07-06),21:30,Czechoslovakia,Russia,0,3,Semi-finals,NaN,Stade Vélodrome,Marseille,25184,1960
2,9 July 1960 (1960-07-09),21:30,Czechoslovakia,France,2,0,Third place play-off,NaN,Stade Vélodrome,Marseille,9438,1960
3,10 July 1960 (1960-07-10),21:30,Russia,Yugoslavia,2,1,Final,Russia win after extra time,Parc des Princes,Paris,17966,1960
4,17 June 1964 (1964-06-17),20:00,Spain,Hungary,2,1,Semi-finals,Spain win after extra time,Santiago Bernabéu,Madrid,34713,1964
...,...,...,...,...,...,...,...,...,...,...,...,...
281,2 July 2016 (2016-07-02),21:00,Germany,Italy,1,1,Quarter-finals,Germany win on Penalities 6–5,Nouveau Stade de Bordeaux,Bordeaux,38764,2016
282,3 July 2016 (2016-07-03),21:00,France,Iceland,5,2,Quarter-finals,NaN,Stade de France,Saint-Denis,76833,2016
283,6 July 2016 (2016-07-06),21:00,Portugal,Wales,2,0,Semi-finals,NaN,Parc Olympique Lyonnais,Décines-Charpieu,55679,2016
284,7 July 2016 (2016-07-07),21:00,Germany,France,0,2,Semi-finals,NaN,Stade Vélodrome,Marseille,64078,2016
285,10 July 2016 (2016-07-10),21:00,Portugal,France,1,0,Final,Portugal win after extra time,Stade de France,Saint-Denis,75868,2016

In [370]:
matches['HomeWin'] = np.where(matches['HomeTeamGoals'] > matches['AwayTeamGoals'],True,False)
y = matches.HomeTeamName
y = np.unique(y)
for i in y:
    matches.loc[(matches['HomeTeamName'] == i) & (matches['SpecialWinConditions'].str.contains(i)),'HomeWin'] = True

In [371]:
matches

,Date,Time,HomeTeamName,AwayTeamName,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,Year,HomeWin
0,6 July 1960 (1960-07-06),20:00,France,Yugoslavia,4,5,Semi-finals,NaN,Parc des Princes,Paris,26370,1960,False
1,6 July 1960 (1960-07-06),21:30,Czechoslovakia,Russia,0,3,Semi-finals,NaN,Stade Vélodrome,Marseille,25184,1960,False
2,9 July 1960 (1960-07-09),21:30,Czechoslovakia,France,2,0,Third place play-off,NaN,Stade Vélodrome,Marseille,9438,1960,True
3,10 July 1960 (1960-07-10),21:30,Russia,Yugoslavia,2,1,Final,Russia win after extra time,Parc des Princes,Paris,17966,1960,True
4,17 June 1964 (1964-06-17),20:00,Spain,Hungary,2,1,Semi-finals,Spain win after extra time,Santiago Bernabéu,Madrid,34713,1964,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2 July 2016 (2016-07-02),21:00,Germany,Italy,1,1,Quarter-finals,Germany win on Penalities 6–5,Nouveau Stade de Bordeaux,Bordeaux,38764,2016,True
282,3 July 2016 (2016-07-03),21:00,France,Iceland,5,2,Quarter-finals,NaN,Stade de France,Saint-Denis,76833,2016,True
283,6 July 2016 (2016-07-06),21:00,Portugal,Wales,2,0,Semi-finals,NaN,Parc Olympique Lyonnais,Décines-Charpieu,55679,2016,True
284,7 July 2016 (2016-07-07),21:00,Germany,France,0,2,Semi-finals,NaN,Stade Vélodrome,Marseille,64078,2016,False
285,10 July 2016 (2016-07-10),21:00,Portugal,France,1,0,Final,Portugal win after extra time,Stade de France,Saint-Denis,75868,2016,True

In [372]:
del matches["Date"]
del matches["Stage"]
del matches["Time"]
del matches["Stadium"]
del matches["City"]
del matches["Attendance"]
del matches["SpecialWinConditions"]
del cups["Winning coach"]
del cups["Top scorer(s)"]
del cups["Player of the Tournament"]

In [357]:
matches.isna().sum()

HomeTeamName     0
AwayTeamName     0
HomeTeamGoals    0
AwayTeamGoals    0
Year             0
dtype: int64

In [358]:
cups.isna().sum()

Year        0
Host        0
Champion    0
dtype: int64

In [373]:
matches

       HomeTeamName AwayTeamName  HomeTeamGoals  AwayTeamGoals  Year  HomeWin
0            France   Yugoslavia              4              5  1960    False
1    Czechoslovakia       Russia              0              3  1960    False
2    Czechoslovakia       France              2              0  1960     True
3            Russia   Yugoslavia              2              1  1960     True
4             Spain      Hungary              2              1  1964     True
..              ...          ...            ...            ...   ...      ...
281         Germany        Italy              1              1  2016     True
282          France      Iceland              5              2  2016     True
283        Portugal        Wales              2              0  2016     True
284         Germany       France              0              2  2016    False
285        Portugal       France              1              0  2016     True

[286 rows x 6 columns]

In [360]:
cups

    Year         Host        Champion
0   1960       France          Russia
1   1964        Spain           Spain
2   1968        Italy           Italy
3   1972      Belgium         Germany
4   1976   Yugoslavia  Czechoslovakia
5   1980        Italy         Germany
6   1984       France          France
7   1988      Germany     Netherlands
8   1992       Sweden         Denmark
9   1996      England         Germany
10  2000  Netherlands          France
11  2004     Portugal          Greece
12  2008  Switzerland           Spain
13  2012      Ukraine           Spain
14  2016       France        Portugal

In [248]:
cups["ChampCount"] = cups.groupby("Champion")["Year"].rank(method="first", ascending=True)
cups['ChampCount'] = cups['ChampCount'].shift(1)
cups.ChampCount = cups.ChampCount.fillna(0)
cups

    Year         Host        Champion  ChampCount
0   1960       France          Russia         0.0
1   1964        Spain           Spain         1.0
2   1968        Italy           Italy         1.0
3   1972      Belgium         Germany         1.0
4   1976   Yugoslavia  Czechoslovakia         1.0
5   1980        Italy         Germany         1.0
6   1984       France          France         2.0
7   1988      Germany     Netherlands         1.0
8   1992       Sweden         Denmark         1.0
9   1996      England         Germany         1.0
10  2000  Netherlands          France         3.0
11  2004     Portugal          Greece         2.0
12  2008  Switzerland           Spain         1.0
13  2012      Ukraine           Spain         2.0
14  2016       France        Portugal         3.0

In [249]:
matches_by_goals1 = matches.groupby(['Year', 'HomeTeamName']).agg({'HomeTeamGoals': ['sum'],'AwayTeamGoals':['sum', 'size'],})
matches_by_goals1.columns = ['HomeGoalsFor','HomeGoalsAgainst','HomeMatches']
matches_by_goals1.rename_axis(index={'HomeTeamName': 'Country'}, inplace=True)
matches_by_goals1['HomeAveGoalsFor']= matches_by_goals1.HomeGoalsFor/matches_by_goals1.HomeMatches
matches_by_goals1['HomeAveGoalsAgainst']= matches_by_goals1.HomeGoalsAgainst/matches_by_goals1.HomeMatches
matches_by_goals1

                     HomeGoalsFor  HomeGoalsAgainst  HomeMatches  \
Year Country
1960 Czechoslovakia             2                 3            2
     France                     4                 5            1
     Russia                     2                 1            1
1964 Denmark                    0                 3            1
     Hungary                    3                 1            1
...                           ...               ...          ...
2016 Sweden                     0                 1            1
     Switzerland                1                 1            2
     Turkey                     0                 1            1
     Ukraine                    0                 3            2
     Wales                      6                 2            3

                     HomeAveGoalsFor  HomeAveGoalsAgainst
Year Country
1960 Czechoslovakia              1.0             1.500000
     France                      4.0             5.000000
     Russia                      2.0             1.000000
1964 Denmark                     0.0             3.000000
     Hungary                     3.0             1.000000
...                              ...                  ...
2016 Sweden                      0.0             1.000000
     Switzerland                 0.5             0.500000
     Turkey                      0.0             1.000000
     Ukraine                     0.0             1.500000
     Wales                       2.0             0.666667

[146 rows x 5 columns]

In [250]:
matches_by_goals2 = matches.groupby(['Year', 'AwayTeamName']).agg({'AwayTeamGoals': ['sum'],'HomeTeamGoals':['sum', 'size'],})
matches_by_goals2.columns = ['AwayGoalsFor','AwayGoalsAgainst','AwayMatches']
matches_by_goals2.rename_axis(index={'AwayTeamName': 'Country'}, inplace=True)
matches_by_goals2['AwayAveGoalsFor']= matches_by_goals2.AwayGoalsFor/matches_by_goals2.AwayMatches
matches_by_goals2['AwayAveGoalsAgainst']= matches_by_goals2.AwayGoalsAgainst/matches_by_goals2.AwayMatches
matches_by_goals2

                  AwayGoalsFor  AwayGoalsAgainst  AwayMatches  \
Year Country
1960 France                  0                 2            1
     Russia                  3                 0            1
     Yugoslavia              6                 6            2
1964 Denmark                 1                 3            1
     Hungary                 1                 2            1
...                        ...               ...          ...
2016 Sweden                  1                 2            2
     Switzerland             2                 1            2
     Turkey                  2                 3            2
     Ukraine                 0                 2            1
     Wales                   4                 4            3

                  AwayAveGoalsFor  AwayAveGoalsAgainst
Year Country
1960 France              0.000000             2.000000
     Russia              3.000000             0.000000
     Yugoslavia          3.000000             3.000000
1964 Denmark             1.000000             3.000000
     Hungary             1.000000             2.000000
...                           ...                  ...
2016 Sweden              0.500000             1.000000
     Switzerland         1.000000             0.500000
     Turkey              1.000000             1.500000
     Ukraine             0.000000             2.000000
     Wales               1.333333             1.333333

[141 rows x 5 columns]

In [251]:
x = pd.concat([matches_by_goals1, matches_by_goals2], axis=1)
x = x.fillna(0)
x['GoalsFor'] = x.HomeGoalsFor + x.AwayGoalsFor
x['GoalsAgainst'] = x.HomeGoalsAgainst + x.AwayGoalsAgainst
x['Matches'] = x.HomeMatches + x.AwayMatches
del x['HomeGoalsFor']
del x['AwayGoalsFor']
del x['HomeGoalsAgainst']
del x['AwayGoalsAgainst']
plot = x
x

                     HomeMatches  HomeAveGoalsFor  HomeAveGoalsAgainst  \
Year Country
1960 Czechoslovakia          2.0              1.0             1.500000
     France                  1.0              4.0             5.000000
     Russia                  1.0              2.0             1.000000
     Yugoslavia              0.0              0.0             0.000000
1964 Denmark                 1.0              0.0             3.000000
...                          ...              ...                  ...
2016 Sweden                  1.0              0.0             1.000000
     Switzerland             2.0              0.5             0.500000
     Turkey                  1.0              0.0             1.000000
     Ukraine                 2.0              0.0             1.500000
     Wales                   3.0              2.0             0.666667

                     AwayMatches  AwayAveGoalsFor  AwayAveGoalsAgainst  \
Year Country
1960 Czechoslovakia          0.0         0.000000             0.000000
     France                  1.0         0.000000             2.000000
     Russia                  1.0         3.000000             0.000000
     Yugoslavia              2.0         3.000000             3.000000
1964 Denmark                 1.0         1.000000             3.000000
...                          ...              ...                  ...
2016 Sweden                  2.0         0.500000             1.000000
     Switzerland             2.0         1.000000             0.500000
     Turkey                  2.0         1.000000             1.500000
     Ukraine                 1.0         0.000000             2.000000
     Wales                   3.0         1.333333             1.333333

                     GoalsFor  GoalsAgainst  Matches
Year Country
1960 Czechoslovakia       2.0           3.0      2.0
     France               4.0           7.0      2.0
     Russia               5.0           1.0      2.0
     Yugoslavia           6.0           6.0      2.0
1964 Denmark              1.0           6.0      2.0
...                       ...           ...      ...
2016 Sweden               1.0           3.0      3.0
     Switzerland          3.0           2.0      4.0
     Turkey               2.0           4.0      3.0
     Ukraine              0.0           5.0      3.0
     Wales               10.0           6.0      6.0

[156 rows x 9 columns]

In [252]:
x['AveGoalsFor'] = x.GoalsFor/x.Matches
x['AveGoalsAgainst'] = x.GoalsAgainst/x.Matches
del x['GoalsFor']
del x['GoalsAgainst']
x = x.reindex(columns=['Matches', 'AveGoalsFor', 'AveGoalsAgainst', 'HomeMatches', 'HomeAveGoalsFor', 'HomeAveGoalsAgainst', 'AwayMatches', 'AwayAveGoalsFor','AwayAveGoalsAgainst'])

In [253]:
x.isna().sum()

Matches                0
AveGoalsFor            0
AveGoalsAgainst        0
HomeMatches            0
HomeAveGoalsFor        0
HomeAveGoalsAgainst    0
AwayMatches            0
AwayAveGoalsFor        0
AwayAveGoalsAgainst    0
dtype: int64

In [254]:
cups1 = cups.groupby(['Year','Champion','ChampCount']).agg({'Host': ['size'],})
cups1.rename_axis(index={'Champion': 'Country'}, inplace=True)
cups1.columns = ['Champion']
cups1 = cups1.reset_index(level=['ChampCount'])

In [255]:
cupsfix=pd.DataFrame([[2000, 'Belgium'], [2008, 'Austria'], [2012, 'Poland']], columns=['Year', 'Host'])
cupsfix = pd.merge(cups, cupsfix, how="outer", on=["Year", "Host"])
cups2 = cupsfix.groupby(['Year','Host']).agg({'Champion': ['size'],})
cups2.rename_axis(index={'Host': 'Country'}, inplace=True)
cups2.columns = ['Host']

In [256]:
x = pd.concat([x, cups2, cups1], axis=1)
x.Champion = x.Champion.fillna('false')
x.Host = x.Host.fillna('false')
x.Champion = x.Champion.replace(1, 'true')
x.Host = x.Host.replace(1, 'true')
x

                     Matches  AveGoalsFor  AveGoalsAgainst  HomeMatches  \
Year Country
1960 Czechoslovakia      2.0     1.000000         1.500000          2.0
     France              2.0     2.000000         3.500000          1.0
     Russia              2.0     2.500000         0.500000          1.0
     Yugoslavia          2.0     3.000000         3.000000          0.0
1964 Denmark             2.0     0.500000         3.000000          1.0
...                      ...          ...              ...          ...
2016 Sweden              3.0     0.333333         1.000000          1.0
     Switzerland         4.0     0.750000         0.500000          2.0
     Turkey              3.0     0.666667         1.333333          1.0
     Ukraine             3.0     0.000000         1.666667          2.0
     Wales               6.0     1.666667         1.000000          3.0

                     HomeAveGoalsFor  HomeAveGoalsAgainst  AwayMatches  \
Year Country
1960 Czechoslovakia              1.0             1.500000          0.0
     France                      4.0             5.000000          1.0
     Russia                      2.0             1.000000          1.0
     Yugoslavia                  0.0             0.000000          2.0
1964 Denmark                     0.0             3.000000          1.0
...                              ...                  ...          ...
2016 Sweden                      0.0             1.000000          2.0
     Switzerland                 0.5             0.500000          2.0
     Turkey                      0.0             1.000000          2.0
     Ukraine                     0.0             1.500000          1.0
     Wales                       2.0             0.666667          3.0

                     AwayAveGoalsFor  AwayAveGoalsAgainst   Host  ChampCount  \
Year Country
1960 Czechoslovakia         0.000000             0.000000  false         NaN
     France                 0.000000             2.000000   true         NaN
     Russia                 3.000000             0.000000  false         0.0
     Yugoslavia             3.000000             3.000000  false         NaN
1964 Denmark                1.000000             3.000000  false         NaN
...                              ...                  ...    ...         ...
2016 Sweden                 0.500000             1.000000  false         NaN
     Switzerland            1.000000             0.500000  false         NaN
     Turkey                 1.000000             1.500000  false         NaN
     Ukraine                0.000000             2.000000  false         NaN
     Wales                  1.333333             1.333333  false         NaN

                    Champion
Year Country
1960 Czechoslovakia    false
     France            false
     Russia             true
     Yugoslavia        false
1964 Denmark           false
...                      ...
2016 Sweden            false
     Switzerland       false
     Turkey            false
     Ukraine           false
     Wales             false

[156 rows x 12 columns]

In [257]:
x = x.reset_index(level=['Country'])
M = ["Russia", "Spain", "Italy", "Germany", "Czechoslovakia", "France", "Netherlands", "Denmark", "Portugal"]
for i in M:
    x.loc[x['Country'] == i,'ChampCount'] = x.loc[x['Country'] == i,'ChampCount'].fillna(method='ffill')
x.ChampCount = x.ChampCount.fillna(0)
x

,Country,Matches,AveGoalsFor,AveGoalsAgainst,HomeMatches,HomeAveGoalsFor,HomeAveGoalsAgainst,AwayMatches,AwayAveGoalsFor,AwayAveGoalsAgainst,Host,ChampCount,Champion
Year,,,,,,,,,,,,,
1960,Czechoslovakia,2.0,1.000000,1.500000,2.0,1.0,1.500000,0.0,0.000000,0.000000,false,0.0,false
1960,France,2.0,2.000000,3.500000,1.0,4.0,5.000000,1.0,0.000000,2.000000,true,0.0,false
1960,Russia,2.0,2.500000,0.500000,1.0,2.0,1.000000,1.0,3.000000,0.000000,false,0.0,true
1960,Yugoslavia,2.0,3.000000,3.000000,0.0,0.0,0.000000,2.0,3.000000,3.000000,false,0.0,false
1964,Denmark,2.0,0.500000,3.000000,1.0,0.0,3.000000,1.0,1.000000,3.000000,false,0.0,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Sweden,3.0,0.333333,1.000000,1.0,0.0,1.000000,2.0,0.500000,1.000000,false,0.0,false
2016,Switzerland,4.0,0.750000,0.500000,2.0,0.5,0.500000,2.0,1.000000,0.500000,false,0.0,false
2016,Turkey,3.0,0.666667,1.333333,1.0,0.0,1.000000,2.0,1.000000,1.500000,false,0.0,false
2016,Ukraine,3.0,0.000000,1.666667,2.0,0.0,1.500000,1.0,0.000000,2.000000,false,0.0,false
2016,Wales,6.0,1.666667,1.000000,3.0,2.0,0.666667,3.0,1.333333,1.333333,false,0.0,false

In [258]:
x.isna().sum()

Country                0
Matches                0
AveGoalsFor            0
AveGoalsAgainst        0
HomeMatches            0
HomeAveGoalsFor        0
HomeAveGoalsAgainst    0
AwayMatches            0
AwayAveGoalsFor        0
AwayAveGoalsAgainst    0
Host                   0
ChampCount             0
Champion               0
dtype: int64

In [259]:
x.agg({'Matches' : ['min','max'], 'AveGoalsFor' : ['min','max'], 'AveGoalsAgainst' : ['min','max'], 'HomeMatches' : ['min','max'], 'HomeAveGoalsFor' : ['min','max'], 'HomeAveGoalsAgainst' : ['min','max'], 'AwayMatches' : ['min','max'], 'AwayAveGoalsFor' : ['min','max'], 'AwayAveGoalsAgainst' : ['min','max']})

,Matches,AveGoalsFor,AveGoalsAgainst,HomeMatches,HomeAveGoalsFor,HomeAveGoalsAgainst,AwayMatches,AwayAveGoalsFor,AwayAveGoalsAgainst
min,2.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.0,0.0
max,7.0,3.0,3.500000,5.0,4.0,5.0,5.0,3.0,4.0

In [260]:
x.to_csv(r'RawFullData.csv')

In [261]:
choices = ['low', 'mid', 'high']
conds = [x.Matches.values <= 2, x.Matches.values <=5 , x.Matches.values >5]
x['Matches'] = np.select(conds, choices)

conds = [x.AveGoalsFor.values <= 1 , x.AveGoalsFor.values <=2.5 , x.AveGoalsFor.values >2.5]
x['AveGoalsFor'] = np.select(conds, choices)

conds = [x.AveGoalsAgainst.values <= 1 , x.AveGoalsAgainst.values <=2.5 , x.AveGoalsAgainst.values >2.5]
x['AveGoalsAgainst'] = np.select(conds, choices)

conds = [x.HomeMatches.values <= 2 , x.HomeMatches.values <=4 , x.HomeMatches.values >4]
x['HomeMatches'] = np.select(conds, choices)

conds = [x.HomeAveGoalsFor.values <= 1 , x.HomeAveGoalsFor.values <=2.5 , x.HomeAveGoalsFor.values >2.5]
x['HomeAveGoalsFor'] = np.select(conds, choices)

conds = [x.HomeAveGoalsAgainst.values <= 1 , x.HomeAveGoalsAgainst.values <=2.5 , x.HomeAveGoalsAgainst.values >2.5]
x['HomeAveGoalsAgainst'] = np.select(conds, choices)

conds = [x.AwayMatches.values <= 2 , x.AwayMatches.values <=4 , x.AwayMatches.values >4]
x['AwayMatches'] = np.select(conds, choices)

conds = [x.AwayAveGoalsFor.values <= 1 , x.AwayAveGoalsFor.values <=2.5 , x.AwayAveGoalsFor.values >2.5]
x['AwayAveGoalsFor'] = np.select(conds, choices)

conds = [x.AwayAveGoalsAgainst.values <= 1 , x.AwayAveGoalsAgainst.values <=2.5 , x.AwayAveGoalsAgainst.values >2.5]
x['AwayAveGoalsAgainst'] = np.select(conds, choices)

x

,Country,Matches,AveGoalsFor,AveGoalsAgainst,HomeMatches,HomeAveGoalsFor,HomeAveGoalsAgainst,AwayMatches,AwayAveGoalsFor,AwayAveGoalsAgainst,Host,ChampCount,Champion
Year,,,,,,,,,,,,,
1960,Czechoslovakia,low,low,mid,low,low,mid,low,low,low,false,0.0,false
1960,France,low,mid,high,low,high,high,low,low,mid,true,0.0,false
1960,Russia,low,mid,low,low,mid,low,low,high,low,false,0.0,true
1960,Yugoslavia,low,high,high,low,low,low,low,high,high,false,0.0,false
1964,Denmark,low,low,high,low,low,high,low,low,high,false,0.0,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Sweden,mid,low,low,low,low,low,low,low,low,false,0.0,false
2016,Switzerland,mid,low,low,low,low,low,low,low,low,false,0.0,false
2016,Turkey,mid,low,mid,low,low,low,low,low,mid,false,0.0,false
2016,Ukraine,mid,low,mid,low,low,mid,low,low,mid,false,0.0,false
2016,Wales,high,mid,low,mid,mid,low,mid,mid,mid,false,0.0,false

In [375]:
matchestrain = matches.sample(frac = 0.8)
matchestest = matches.drop(matchestrain.index)
matchestrain.to_csv(r'MatchesTrain.csv')
matchestest.to_csv(r'MatchesTest.csv')

In [262]:
y = x.index.values
y = np.unique(y)
y1 = np.array([1964, 1972, 2012])
test = x.loc[y1]
test

,Country,Matches,AveGoalsFor,AveGoalsAgainst,HomeMatches,HomeAveGoalsFor,HomeAveGoalsAgainst,AwayMatches,AwayAveGoalsFor,AwayAveGoalsAgainst,Host,ChampCount,Champion
Year,,,,,,,,,,,,,
1964,Denmark,low,low,high,low,low,high,low,low,high,false,0.0,false
1964,Hungary,low,mid,mid,low,high,low,low,low,mid,false,0.0,false
1964,Russia,low,mid,low,low,low,low,low,mid,low,false,0.0,false
1964,Spain,low,mid,low,low,mid,low,low,low,low,true,1.0,true
1972,Belgium,low,mid,mid,low,low,mid,low,mid,low,true,0.0,false
1972,Germany,low,mid,low,low,high,low,low,mid,low,false,1.0,true
1972,Hungary,low,low,mid,low,low,mid,low,low,low,false,0.0,false
1972,Russia,low,low,mid,low,low,low,low,low,mid,false,0.0,false
2012,Croatia,mid,mid,low,low,low,low,low,mid,low,false,0.0,false
2012,Czech Republic,mid,low,mid,low,low,low,low,mid,mid,false,0.0,false
2012,Denmark,mid,mid,mid,low,mid,mid,low,low,low,false,1.0,false
2012,England,mid,mid,low,low,low,low,low,mid,mid,false,0.0,false
2012,France,mid,low,mid,low,low,low,mid,low,mid,false,3.0,false
2012,Germany,mid,mid,mid,mid,mid,mid,low,mid,low,false,1.0,false
2012,Greece,mid,mid,mid,low,low,low,low,mid,mid,false,0.0,false
2012,Italy,high,low,mid,low,mid,low,mid,low,mid,false,1.0,false
2012,Netherlands,mid,low,mid,low,low,mid,low,low,mid,false,1.0,false
2012,Poland,mid,low,low,low,low,low,low,low,low,true,0.0,false
2012,Portugal,mid,mid,low,low,low,low,mid,mid,low,false,0.0,false
2012,Republic of Ireland,mid,low,high,low,low,high,low,low,high,false,0.0,false
2012,Russia,mid,mid,low,low,high,low,low,low,low,false,0.0,false
2012,Spain,high,mid,low,mid,high,low,low,low,low,false,2.0,true
2012,Sweden,mid,mid,mid,low,mid,mid,low,low,mid,false,0.0,false
2012,Ukraine,mid,low,mid,low,low,mid,low,low,low,true,0.0,false

In [263]:
y2 = [x for x in y if x not in y1]
train = x.loc[y2]
train

,Country,Matches,AveGoalsFor,AveGoalsAgainst,HomeMatches,HomeAveGoalsFor,HomeAveGoalsAgainst,AwayMatches,AwayAveGoalsFor,AwayAveGoalsAgainst,Host,ChampCount,Champion
Year,,,,,,,,,,,,,
1960,Czechoslovakia,low,low,mid,low,low,mid,low,low,low,false,0.0,false
1960,France,low,mid,high,low,high,high,low,low,mid,true,0.0,false
1960,Russia,low,mid,low,low,mid,low,low,high,low,false,0.0,true
1960,Yugoslavia,low,high,high,low,low,low,low,high,high,false,0.0,false
1968,England,low,low,low,low,mid,low,low,low,low,false,0.0,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Sweden,mid,low,low,low,low,low,low,low,low,false,0.0,false
2016,Switzerland,mid,low,low,low,low,low,low,low,low,false,0.0,false
2016,Turkey,mid,low,mid,low,low,low,low,low,mid,false,0.0,false
2016,Ukraine,mid,low,mid,low,low,mid,low,low,mid,false,0.0,false
2016,Wales,high,mid,low,mid,mid,low,mid,mid,mid,false,0.0,false

In [264]:
x.to_csv(r'FullData.csv')
train.to_csv(r'Train.csv')
test.to_csv(r'Test.csv')
cups.to_csv(r'cups.csv')